# project files I don't need in the image
client
messages
setup
*.sqlite
test_client.py

# dev files I don't want
.git
.dockerignore
.gcloudignore
.gitignore
logs
config_dev.json
config_prod.json
archive

# certs
*.pem

# obo bundle
bundle.json

# config files
config
