# project files I don't need in the image
client
messages
setup
*.sqlite
test_client.py

# dev files I don't want
.git
.dockerignore
.gcloudignore
.gitignore
logs
config_dev.json
config_prod.json
config_develop.json
config_preview.json
config_corp.json
archive

# obo bundle
bundle.json

# config files
postmaster-deploy.yaml
